.password-item-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #7683cb;
  border-radius: 8px;
  margin: 10px;
  width: 90%;
  max-width: 400px;
}
.account-logo-container {
  height: 50px;
  width: 50px;
  text-align: center;
  padding-top: 10px;
  border-radius: 25px;
  background-color: #10b981;
  margin-right: 10px;
}
.logo {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: 800;
}
.account-details {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 800;
  line-height: 1;
}
.delete-icon {
  height: 40px;
  width: 50px;
  margin-left: auto;
}
