.password_container {
  background-color: #5763a5;
  border-radius: 8px;
  height: 50vh;
}

.password-heading-container {
  display: flex;
  justify-content: space-between;
}

.search-container {
  height: 50px;
}

.search-icon {
  height: 20px;
}

.search-input {
  height: 50px;
  outline: none;
}

.password-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-password-container {
  display: flex;
  justify-content: flex-end;
}
