.passwords-container {
  background-color: #5763a5;
  border-radius: 12px;
  margin-top: 10px;
}

.password-heading-container {
  display: flex;
  align-items: center;
}
.password-count {
  border: 1px solid #f8fafc;
  height: 30px;
  border-radius: 15px;
}
.search-container {
  height: 50px;
  margin-left: auto;
}

.search-icon {
  height: 20px;
}

.search-input {
  height: 50px;
  outline: none;
}

.password-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-password-container {
  display: flex;
  justify-content: flex-end;
}

.passwords-list-container {
  display: flex;
  flex-direction: column;
}
